$bg-primary-color: #222222;

body {
    background-color: #222222;

   
}

main {
width: 75%;
margin-left: 25%;
}


// css de head 

.container {
    height: 100%;
    margin: auto;
    width: 100%;
   
}
.contenuContainer {
    color: aliceblue;
    height: auto;
    width: auto;
}

.containerSlider {
    position:absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 150px;
    color: rgb(250, 250, 250);
    width: 30%;
    margin-left: 22%;
    gap: 50px;
    height: auto;
    }

#slider {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
#slide{
    width: 100%;
    height: auto;
}

#precedent, #suivant {
    position: absolute;
    font-size: 100px;
    background-color:rgba(0, 0, 0, 0.762);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease ;

}
#precedent {
    display: none;
    // left: 0;
}
#suivant {
    display: none;
    // right: 0;
}
#slider:hover #precedent,#slider:hover #suivant {
    opacity: 1;

}


.title2HeadHome{
    font-weight:lighter;
    letter-spacing: 3px;
}

.titleHeadHome {
    font-size: 40px;
    letter-spacing: 10px;
}
.fa{
    color: gold;
    letter-spacing: 10px;
}
.extenstion{
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    background-color: rgb(67, 66, 66);
    width: 100%;
    height: 100%;
}

.extenstionLeft {
    text-align: start;
    padding : 5% 0 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}
.title2ExtenstionHome{
    color: rgb(145, 124, 11);
}

.titleExtenstionHome {  
    color: white
}
.paraExtenstionHome {
    color: $colorParagraph;
}

.extenstionRight{
    padding : 5% 5% 5% 0;
    width: 40%;
    display: flex;
}

.imgExtenstionLeft,.imgExtenstionRight{
    margin-top: 10%;
    width: 40%;
    height: 65%;
}
.imgExtenstionLeft {
    margin: 8%;
    padding-top: 4%;
    display: flex;
    align-self: center;

}
.imgExtenstionRight{
    margin : 5%;
    display: flex;
    align-self: flex-start;

}

%storage-container {

}

%textwhite {

}

%textgrey {
    color: rgb(186, 186, 186);
}

%titres {
    color: white;
    font-weight: 100;
}

%titre-img {
    color: rgb(186, 186, 186);
}



/* CONTAINER 1 */

.titre1 { /* n'arrive pas à le placer au dessus des photos */
    background-color: #1e1e1e;
    color: white;
    width: 75%;
    padding: 3% 0% 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        font-family: Arial, Helvetica;
        font-weight: 500;
        color: #816d2b;
        font-size: 13px
    }

    h2 {
        font-size: 100px;
    }
}

div.container1 { 
    background-color: #1e1e1e;
    padding: 0% 0% 5% 5%;
    height: 100%;
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(6, 10%); 
    grid-template-rows: 57% 43%; 
    gap: 2% 2%;
    grid-template-areas: 
      "image1 image1 image2 image2 image3 image3"
      "image4 image4 image4 image5 image5 image5";

      img {
        width: 100%;
      }
  }

/* les div 'image...' dépasse de la photo */

  .image1 { 
    grid-area: image1;
}
  .image2 { 
    grid-area: image2; 
}
  .image3 { 
    grid-area: image3; 
}
  .image4 { 
    grid-area: image4; 
}
  .image5 { 
    grid-area: image5; 
}


figure { 
    border: 2px solid red;

    margin: 0;
}

legend {
    border: 2px solid green;

    font-family: Arial, Helvetica;
}

figcaption {
    border: 2px solid blue;

    margin: 0;
    font-size: 20px;
}






/* CONTAINER 2 */




.container2 {
    align-items: center;

    .item {
        background-color: #2b2b2b;
        font-size: 12x;



        .titre-haut {
            color: #816d2b;
            font-size: 13px;
            font-weight: 500;


        }

        p {
            font-family: Arial, Helvetica;
            color: rgb(186, 186, 186);


        }

        h3 {
            font-size: 30px;
        }
    }
}

.image3 {

}

.bouton a {
    background-color: #816d2b;
    color: white;
    font-family:Arial, Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-decoration:none;


    &:hover {
        background-color:#ebc855;
    }
}

// here css of footer 

.footercontenu {
    background-color: rgb(67, 66, 66);
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;

}
.leftSideFooter {
    text-align: start;
    padding: 4%;
    width: 40%;
}
.titreLeftFooter {
    color: azure;
    font: 1.2em ;
    font-weight: lighter;
}
.parLeftFooter {
    width: 80%;
    color: $colorParagraph;
}
.RightSideFooter {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color:  rgb(67, 66, 66);
}
.viber{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    gap: 2%;
}
.imgViber{
    margin-top: 55%;
    
}
.nomeroRightSide{
    font-size: 24px;
    font-weight: lighter;
    
}
hr
{
    border: 1px solid goldenrod; 
    margin-top: -4%;
}

.imgFooter {
    height: 20px;
    width: 20px;
}
.lesPetitsImages{
    display: flex;
    gap: 5%;
}











@media screen and (max-width: 1024px) {
    .containerSlider{
        height: 30%;
        font-size: 20%;
        text-align: center;
        margin-left: 20%;
    }
    .title2HeadHome{
        font-size: 14px;
    }
   .extenstionRight{
    display: none;
   }
   
  }

@media screen and (max-width: 600px) {
    .title2HeadHome  {
      font-size: 16px;
    }
    .titleHeadHome{
        font-size: 20px;
    }
  }
  .leftSideFooter { font-size: 70%;}
  .RightSideFooter{
    font-size: 70%;
  }
  .nomeroRightSide{
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    .main {
        width: 100%;
        // margin-left: 25%;
        }
    .containerSlider{
        display: none;
    }
    #slider {
        display: none;
    }
    .extenstion{
        display: none;
    }
    .extenstionRight{
        width: 100%;
    }
    .extenstionRight {
        display: none;
    }
    .footercontenu{
        display: grid;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
  }


/* voir: cours responsive */